<div class="row">
  <div data-hook="admin_sale_price_form_amount" class="col-3">
    <%= f.field_container :price do %>
      <%= f.label :price %>
      <%= f.text_field :value, class: 'fullwidth', required: true %>
    <% end %>
  </div>

  <div data-hook="admin_product_price_start_at" class="col-3">
    <%= f.field_container :start_at do %>
      <%= f.label :start_at, Spree::SalePrice.human_attribute_name(:start_at) %><br />

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= solidus_icon('fa fa-calendar') %>
          </span>
        </div>
        <%= f.text_field :start_at, class: "datetimepicker",
                                    value: f.object.start_at.present? ? l(f.object.start_at, format: :datetimepicker) : "" %>
      </div>
    <% end %>
  </div>

  <div data-hook="admin_product_price_end_at" class="col-3">
    <%= f.field_container :end_at do %>
      <%= f.label :end_at, Spree::SalePrice.human_attribute_name(:end_at) %><br />

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= solidus_icon('fa fa-calendar') %>
          </span>
        </div>
        <%= f.text_field :end_at, class: "datetimepicker",
                                  value: f.object.end_at.present? ? l(f.object.end_at, format: :datetimepicker) : "" %>
      </div>
    <% end %>
  </div>

  <% params[:price_ids].each do |id| %>
    <%= hidden_field_tag "price_ids[]", id %>
  <% end %>
</div>
