<tr data-hook="products_row" id="<%= spree_dom_id(sale_price) %>" class="spree-product-sale-price">
  <td class="align-center "><%= sale_price.active? ? 'Yes' : '' %></td>
  <td><%= sale_price.display_price.to_html %></td>
  <td><%= (l sale_price.start_at ) if sale_price.start_at %></td>
  <td><%= (l sale_price.end_at) if sale_price.end_at %></td>
  <td class="align-center"><%= sale_price.enabled %></td>
  <td class="actions">
    <% if can?(:edit, sale_price) %>
      <%= link_to_edit sale_price, { url: edit_admin_product_sale_price_url(product, sale_price.id), :no_text => true } %>
    <% end %>
    <% if can?(:destroy, sale_price) %>
      <%= link_to_delete sale_price, {url: admin_product_sale_price_url(product, sale_price.id), no_text: true} %>
    <% end %>
  </td>
</tr>
