<table class='index' id='product_sale_prices' data-hook="sale_price_table">
  <colgroup>
    <col />
    <col />
    <col />
    <col style="width: 30%" />
    <col style="width: 30%" />
    <col />
    <col />
  </colgroup>
  <thead>
    <tr data-hook="products_header">
      <th><%= t('spree.sku') %></th>
      <th><%= t('spree.sale_price_active') %></th>
      <th><%= t('spree.sale_price') %></th>
      <th><%= t('spree.sale_price_start_at') %></th>
      <th><%= t('spree.sale_price_end_at') %></th>
      <th><%= t('spree.sale_price_enabled') %></th>
      <th class='actions' />
    </tr>
  </thead>
  <tbody>
    <%= render partial: "sale_price", collection: sale_prices %>
  </tbody>
</table>
