<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>

<%- content_for :page_actions do %>
  <%- if can?(:create, Spree::SalePrice) %>
    <li><%= link_to_with_icon('plus', Spree.t(:new_sale_price), new_admin_product_sale_price_url(@product), :id => 'new_sale_price_link', :class => 'button') %></li>
  <%- end %>
<%- end %>

<div id="add-line-item">
  <fieldset>
    <legend align="center">
      <%= Spree.t('add_product_sale_prices') %>
    </legend>

    <%= form_for [:admin, @product, Spree::SalePrice.new], remote: true do |f| %>
      <div class="row">
        <div class="columns three">
          <%= label_tag t('original_price') %>
          <%= text_field_tag '', @product.original_price.to_f, disabled: true %>
        </div>
      </div>

      <div class="row">
        <div class="columns three">
          <%= f.label :value, t('sale_price_amount') %>
          <%= f.text_field :value %>
        </div>
        <div class="columns three">
          <%= f.label :currency, t('sale_price_currency') %>
          <%= f.select :currency, options_for_select(supported_currencies_for_sale_price) %>
        </div>
      </div>

      <div class="row">
        <div class="columns three">
          <%= label_tag 'variant_ids[]', Spree.t('variants') %>
          <%= select_tag 'variant_ids[]', options_from_collection_for_select(@product.variants, :id, :sku),
                         multiple: 'multiple', class: 'variant_sales_picker' %>
        </div>
      </div>

      <div class="row">
        <div class="columns three">
          <%= f.label :start_at, t('sale_price_start_at') %>
          <%= f.text_field :start_at, class: "datetimepicker" %>
        </div>
        <div class="columns three">
          <%= f.label :end_at, t('sale_price_end_at') %>
          <%= f.text_field :end_at, class: "datetimepicker" %>
        </div>
        <div class="columns three">
          <%= f.label :submit, style: 'visibility: hidden;' %>
          <%= f.submit "Add Sale Price" %>
        </div>
      </div>
    <% end %>
  </fieldset>
</div>

<div id="product-sale-prices-table">
  <%= render partial: "table", locals: { sale_prices: @sale_prices } %>
</div>
