<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @sale_price } %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_sale_prices_list), admin_product_sale_prices_url(@product), icon: 'arrow-left' %></li>
<% end %>

<%= form_for [:admin, @product, @sale_price] do |f| %>
  <fieldset data-hook="new_sale_price">
    <legend align="center"><%= Spree.t(:new_sale_price) %></legend>

      <%= render :partial => 'form', locals: { f: f } %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'refresh' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_product_images_url(@product), :id => 'cancel_link', :class => 'button' %>
      </div>
  </fieldset>
<% end %>
